html {
  font-size: 15px;
  font-family: 'Courgette', cursive;
}
h1 {
  font-size: 50px;
  text-align: center;
}
p, li {
  font-size: 16px;
  line-height: 2;
  letter-spacing: 1px;
}
body {
  width: 900px;
  margin: 0 auto;
  background-color: #ff7f50;
  padding: 0 20px 20px 20px;
}
